
.wrapper {
  margin: auto;
  margin-top: 20px;
  border: 1px solid black;
  width: 30%;
  border-radius: 25px;
  /* background-color: rgb(65, 124, 153); */
  background: #000000d0;
  color: white;
  padding-top: 10px;
}

.searchIcon{
margin: auto;
font-size: 25px;
}
@media only screen and (max-width: 1200px) {
  .wrapper {
      margin: auto;
      width: 50%;
  }
}

@media only screen and (max-width: 699px) {
  .wrapper {
      margin: auto;
      width: 95%;
  }
}

header h1 {
  text-align: center;
}

header div {
  display: flex;
  justify-content: center;
}

header input {
  border: 1px solid black;
  border-radius: 25px;
  width: 60%;
  height: 40px;
  margin-left: 20px;
  padding: 0px 20px;
  font-size: 22px;
}

header button {
  border: 1px solid black;
  border-radius: 25px;
  width: 15%;
  height: 40px;
  padding: 0px 5px;
  font-size: 22px;
}


h6 {
  font-size: 22px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
  color: rgb(121, 180, 231);
  font-size: 22px;
}

.sunrise {
  font-size: 18px;
  margin-left: 30px;
  color: rgb(217, 150, 16);
}
.date-box {
  font-size: 20px;
  text-align: left;
}
.weather-info p,
span {
  font-size: 18px;
  text-align: left;
  margin-top: 5px;
  margin-left: 30px;
}

.cloud-icon-text {
  margin-left: 30px;
}
.temp-icon{
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.temperature {
  font-size: 30px;
  margin-top: 70px;
  margin-left: 30px;
}

.temp-icon {
  display: flex;
}

.cloud-icon-text img {
  width: 150px;
}

.description {
  font-size: 30px;
}

.sunset {
  color: rgb(217, 150, 16);
}


.map-box{
  display: flex;
}
.parameter {
  margin-top: 30px;
  margin-right: 20px;
 margin: auto;
}

#map {
  border: 1px solid white;
  width: 160px;
  height: 200px;
  margin-left: 25px;
  margin-bottom: 25px;
}
